extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.first-screen
		.container.first-screen__container
			.first-screen__wrapper
				.first-screen__title Доставляем сборные грузы
					br
					span качественнее и дешевле конкурентов
				ul.first-screen__list
					li.first-screen__list-item Доставка товаров Non-food во все федеральные сети Росии
					li.first-screen__list-item Междугородняя доставка FTL
					li.first-screen__list-item Доставка сборного груза
				+button('Рассчитать стоимость', 'first-screen__button', 'calculate')
			a(href="#price").first-screen__scroll-down
				svg
					use(xlink:href='./svg/sprite.svg#arrow-down')



	#price.price
		.container
			+title('Тарифы')
			.price__accordion
				.price__accordion-item
					.price__accordion-title
						span Тарифы на перевозку сборных грузов по РФ
						svg(class='price__accordion-title--rotate')
							use(xlink:href='./svg/sprite.svg#accordion-arrow')
					.price__accordion-content(style='display: block;')
						.price__note Тарифы на перевозку указаны <span>в рублях за 1 кг груза</span>. Тариф для объемных грузов рассчитывается при плотности 1 куб.м = 250 кг.
						.price__tabs
							.price__tab.price__tab--active Из Москвы
							.price__tab Из Санкт-Петербурга
						.price__tab-content-wrapper
							.price__tab-content(style='display: block;')
								table.price__table
									thead
										tr
											th Москва
											th Минимальная стоимость
											th <span>до</span> 100 кг
											th <span>до</span> 200 кг
											th <span>до</span> 500 кг
											th <span>до</span> 1000 кг
											th <span>до</span> 1500 кг
											th <span>до</span> 3000 кг
											th <span>до</span> 4999 кг
											th <span>свыше</span> 5000 кг
									tbody
										tr
											td Москва - Санкт-петербург
											td 400 ₽
											td 5,99 ₽
											td 5,99 ₽
											td 5,99 ₽
											td 5,7 ₽
											td 5,6 ₽
											td 5,5 ₽
											td 5,1 ₽
											td 4,75 ₽
										tr
											td Москва - Казань
											td 400 ₽
											td 9,99 ₽
											td 9,79 ₽
											td 9,49 ₽
											td 9,19 ₽
											td 8,99 ₽
											td 8,69 ₽
											td 7,99 ₽
											td 7,79 ₽
										tr
											td Москва - Ростов-на-Дону
											td 400 ₽
											td 10,79 ₽
											td 10,69 ₽
											td 9,89 ₽
											td 9,79 ₽
											td 9,69 ₽
											td 9,49 ₽
											td 8,19 ₽
											td 8,89 ₽
										tr
											td Москва - Самара
											td 400 ₽
											td 9,79 ₽
											td 9,69 ₽
											td 9,1 ₽
											td 8,9 ₽
											td 8,79 ₽
											td 8,49 ₽
											td 8,2 ₽
											td 8,79 ₽
										tr
											td Москва - Волгоград
											td 400 ₽
											td 7,8 ₽
											td 7,8 ₽
											td 7,8 ₽
											td 7,6 ₽
											td 7,4 ₽
											td 7,3 ₽
											td 7,2 ₽
											td 7 ₽
										tr
											td Москва - Краснодар
											td 400 ₽
											td 10,79 ₽
											td 10,69 ₽
											td 9,89 ₽
											td 9,79 ₽
											td 9,69 ₽
											td 9,49 ₽
											td 8,19 ₽
											td 8,89 ₽
										tr
											td Москва - Екатеринбург
											td 400 ₽
											td 11,59 ₽
											td 11,49 ₽
											td 10,89 ₽
											td 10,59 ₽
											td 10,39 ₽
											td 10,1 ₽
											td 9,79 ₽
											td 9,3 ₽
							.price__tab-content
								table.price__table
									thead
										tr
											th Санкт-Петербург
											th Минимальная стоимость
											th <span>до</span> 100 кг
											th <span>до</span> 200 кг
											th <span>до</span> 500 кг
											th <span>до</span> 1000 кг
											th <span>до</span> 1500 кг
											th <span>до</span> 3000 кг
											th <span>до</span> 4999 кг
											th <span>от</span> 5000 кг
									tbody
										tr
											td Санкт-петербург - Москва
											td 400 ₽
											td 5,99 ₽
											td 5,99 ₽
											td 5,99 ₽
											td 5,7 ₽
											td 5,6 ₽
											td 5,5 ₽
											td 5,1 ₽
											td 4,75 ₽
										tr
											td Санкт-петербург - Ростов-на-Дону
											td 400 ₽
											td 11,99 ₽
											td 11,59 ₽
											td 11,49 ₽
											td 11,25 ₽
											td 10,99 ₽
											td 10,49 ₽
											td 10,29 ₽
											td 10 ₽
										tr
											td Санкт-петербург - Казань
											td 400 ₽
											td 10,79 ₽
											td 10,69 ₽
											td 10,59 ₽
											td 10,49 ₽
											td 10,25 ₽
											td 10,15 ₽
											td 10 ₽
											td 9,89 ₽
										tr
											td Санкт-петербург - Екатеринбург
											td 400 ₽
											td 12,69 ₽
											td 12,59 ₽
											td 11,99 ₽
											td 11,69 ₽
											td 11,49 ₽
											td 11,29 ₽
											td 10,79 ₽
											td 10,3 ₽
										tr
											td Санкт-петербург - Самара
											td 400 ₽
											td 10,59 ₽
											td 10,39 ₽
											td 10,29 ₽
											td 10 ₽
											td 9,49 ₽
											td 9,29 ₽
											td 9,1 ₽
											td 9 ₽
										tr
											td Санкт-петербург - Волгоград
											td 400 ₽
											td 10 ₽
											td 10 ₽
											td 10 ₽
											td 9,9 ₽
											td 9,7 ₽
											td 9,5 ₽
											td 9,2 ₽
											td 9 ₽
										tr
											td Санкт-петербург - Краснодар
											td 400 ₽
											td 11,9 ₽
											td 11,8 ₽
											td 11,54 ₽
											td 11,25 ₽
											td 11,06 ₽
											td 10,96 ₽
											td 10,68 ₽
											td 10,68 ₽
				.price__accordion-item
					.price__accordion-title
						span Тарифы адресной доставки от/до терминала в филиалах
						svg
							use(xlink:href='./svg/sprite.svg#accordion-arrow')
					.price__accordion-content
						.price__tab-content-wrapper
							.price__tab-content(style='display: block;')
								table.price__table
									thead
										tr
											th Вес груза (кг)
											th Объем груза (м3)
											th Санкт-Петербург
											th Казань
											th Ростов-на-Дону
											th Самара
											th Краснодар
											th Волгоград
											th Екатеринбург
											th Москва
									tbody
										tr
											td 100 и меньше
											td 0.5 и меньше
											td 650 ₽
											td 650 ₽
											td 400 ₽
											td 450 ₽
											td 350 ₽
											td 400 ₽
											td 550 ₽
											td 750 ₽
										tr
											td 101 - 500
											td 0,51 - 2
											td 900 ₽
											td 900 ₽
											td 500 ₽
											td 500 ₽
											td 500 ₽
											td 450 ₽
											td 800 ₽
											td 1150 ₽
										tr
											td 501 - 1000
											td 2,1 - 5
											td 1250 ₽
											td 1250 ₽
											td 800 ₽
											td 650 ₽
											td 900 ₽
											td 700 ₽
											td 1250 ₽
											td 1550 ₽
										tr
											td 1001 - 1500
											td 5,1 - 8
											td 1600 ₽
											td 1600 ₽
											td 1200 ₽
											td 1200 ₽
											td 1100 ₽
											td 900 ₽
											td 1600 ₽
											td 1900 ₽
										tr
											td 1501 - 2000
											td 8,1 - 11
											td 2000 ₽
											td 2000 ₽
											td 1700 ₽
											td 1400 ₽
											td 1600 ₽
											td 1100 ₽
											td 2000 ₽
											td 2650 ₽
										tr
											td 2001 - 2500
											td 11,1 - 15
											td 3500 ₽
											td 3500 ₽
											td 2100 ₽
											td 1600 ₽
											td 1700 ₽
											td 1400 ₽
											td 3500 ₽
											td 3700 ₽
										tr
											td 2501-3000
											td 15,1-20
											td 4000 ₽
											td 4000 ₽
											td 2500 ₽
											td 1800 ₽
											td 2400 ₽
											td 1700 ₽
											td 4000 ₽
											td 4500 ₽
										tr
											td 3001 - 5000
											td 20,1 - 30
											td 5000 ₽
											td 5000 ₽
											td 4500 ₽
											td 3800 ₽
											td 4500 ₽
											td 4500 ₽
											td 5000 ₽
											td 6000 ₽
										tr
											td 5001 - 10000
											td 30,1 - 40
											td 7000 ₽
											td 7000 ₽
											td 5000 ₽
											td 5200 ₽
											td 5000 ₽
											td 5000 ₽
											td 7000 ₽
											td 7800 ₽
										tr
											td 10001 - 20000
											td 40,1 - 70
											td 12000 ₽
											td 12000 ₽
											td 9000 ₽
											td 7000 ₽
											td 9000 ₽
											td 9000 ₽
											td 12000 ₽
											td 12500 ₽
								table.price__table
									thead
										tr
											th Весовой груз, кг
											th от 0 до 100
											th от 101 до 500
											th от 501 до 1000
											th от 1001 до 1500
											th от 1501 до 2000
											th От 2001 до 2500
											th От 2501 до 3000
											th От 3000
									tbody
										tr
											td Объемный груз, м3
											td До 0,5м3
											td До 2м3
											td До 5м3
											td До 8м3
											td До 11м3
											td До 15м3
											td До 20м3
											td
										tr
											td Время на погрузку/выгрузку, час.
											td 0,5
											td 0,5
											td 1
											td 1
											td 1
											td 1
											td 2
											td 2
										tr
											td Выезд машины за пределы МКАД (КАД) (руб./км)
											td 30
											td 30
											td 30
											td 30
											td 30
											td 30
											td 30
											td 30
										tr
											td Простой ТС на погрузке/выгрузке сверх нормативного времени руб./час*
											td 500
											td 500
											td 700
											td 700
											td 700
											td 700
											td 1000
											td 1200
							.price__min-cost *Каждый час простоя сверх нормативного времени тарифицируется и оплачивается дополнительно. Каждый неполный час, свыше 10 минут тарифицируется как полный.
				.price__description-text
					p Услуги ПРР ( погрузо-разгрузочные работы силами водителя экспедитора) за счёт Экспедитора предоставляются на партии груза,
						|  расчётный вес которых не превышает 20 кг, где вес и объём одного грузового места не превышает 20 кг и 0,09 м3 соответственно,
						|  при наличии работающего лифта и необходимости подъема груза не выше 3 этажа. Услуги ПРР за счёт Заказчика, а также услуги предоставления грузчиков,
						|  согласовываются с экспедитором и оплачиваются дополнительно.
					p Стоимость перевозки груза рассчитывается по фактическому или объемному весу, при этом выбирается большая из этих величин. 1м3 =250 кг,
						|  поэтому для расчёта объёмного веса применяется формула: V *250 кг. При перевозке негабаритного груза, а также груза с использованием
						|  дополнительной упаковки (обрешётки) согласно требованиям Экспедитора, взимается дополнительная плата в размере 20% от стоимости перевозки.
						|  Груз считается негабаритным, если вес одного места превышает 500 кг, либо одно из измерений равно или больше 3 м.
					p Бесплатное Хранение на складах транспортно-экспедиционной компании «РИТЕЙЛ-ЛОГИСТИКА» с момента поступления груза на склад составляет три дня,
						|  дальнейшее хранение платное и составляет 70 руб.за 1 м3 или 50 руб./место в сутки для грузов менее 0,5м3.
					p При необходимости  доставить груз Получателю «до двери» в день прибытия груза в город назначения, стоимость услуг экспедирования в городах
						|  Москва и Санкт-Петербург увеличивается в 2 раза.
					p Доставка по стандартному тарифу, осуществляется на следующий день после прибытия груза на терминал  в город назначения.
					p «Холостой» пробег («пробег» автомобиля «до дверей» Отправителя/Получателя без Забора/Доставки по причинам, не зависящим от АО «Норд Вил»,
						|  такие как неготовность груза к отправке, некорректные данные, указанные в заявке и т.д. и т.п.) равен стоимости забора/доставки груза
						|  и рассчитывается на основании параметров, указанных в заявке, с учетом всех дополнительных услуг.
				.price__more
					span Показать полностью
					svg
						use(xlink:href='./svg/sprite.svg#accordion-arrow')


	.calculate
		.container.calculate__container
			+title('Рассчитать стоимость <br> доставки груза', 'calculate__title')
			form.calculate__form
				.calculate__form-inputs
					.calculate__column
						.calculate__input-row
							+input('text', 'Откуда', 'from', 'Москва')
						.calculate__input-row
							+input('checkbox', 'Забрать по адресу', 'pickup_to_address')
						.calculate__input-row.calculate__input-group
							+input('text', 'Масса, кг', 'weight', '5')
							+input('text', 'Объем, м3', 'capacity', '5')
						.calculate__input-row
							+input('text', 'Застраховать на сумму', 'insure_sum', '0')
						.calculate__input-row
							+input('checkbox', 'Возврат сопроводительных документов', 'documents_return')
						.calculate__input-row
							+input('checkbox', 'Стекло или хрупкий груз', 'fragile_load')

					.calculate__column
						.calculate__input-row
							+input('text', 'Куда', 'to', 'Санкт -Петербург')
						.calculate__input-row
							+input('checkbox', 'Доставить по адресу', 'delivery_to_address')
						.calculate__input-row
							+input('checkbox', 'Негабаритный груз', 'oversized_cargo')
						.calculate__input-row
							+input('checkbox', 'Добавить жесткую упаковку', 'hard_package')

				.calculate__request
					.calculate__bg
						img(src='./img/pattern-black.png' alt='pattern-black')
						img(src='./img/pattern-gray.png' alt='pattern-gray')
					.calculate__block
						.calculate__total
							.calculate__total-text Итоговая стоимость услуг
							.calculate__total-price 1 760 ₽
							.calculate__total-note Доставка на следующий день
						.calculate__price-item Перевозка от двери до двери
							.calculate__sum.calculate__sum--door 3 810 ₽
						.calculate__price-item Стоимость межтерминальной перевозки
							.calculate__sum.calculate__sum--terminal 1 760 ₽
						.calculate__tariff
							.calculate__tariff-row
								.calculate__tariff-name Ваш тариф
								.calculate__tariff-price 5.99 ₽/кг
							.calculate__tariff-row
								.calculate__tariff-name Доставка по Москве
								.calculate__tariff-price 1 150 ₽
							.calculate__tariff-row
								.calculate__tariff-name Доставка по Санкт-Петербургу
								.calculate__tariff-price 900 ₽
						+button('Отправить заявку', 'calculate__button')
						.calculate__print-report Распечатать отчет





	.documentation
		.container
			+title('Документация')
			.documentation__files
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#doc')
					.documentation__link-wrapper
						.documentation__name Бланк завки на адресный забор груза
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#doc')
					.documentation__link-wrapper
						.documentation__name Договор на перевозку грузов автомобильным транспортом Ритейл логистика
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#xls')
					.documentation__link-wrapper
						.documentation__name Обязательные правила перевозки
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#xls')
					.documentation__link-wrapper
						.documentation__name Обязательные правила перевозки
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#doc')
					.documentation__link-wrapper
						.documentation__name Бланк завки на адресный забор груза
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#doc')
					.documentation__link-wrapper
						.documentation__name Договор на перевозку грузов автомобильным транспортом Ритейл логистика
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#doc')
					.documentation__link-wrapper
						.documentation__name Бланк завки на адресный забор груза
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#doc')
					.documentation__link-wrapper
						.documentation__name Договор на перевозку грузов автомобильным транспортом Ритейл логистика
						.documentation__download Скачать
				a(href='#').documentation__link
					svg
						use(xlink:href='./svg/sprite.svg#xls')
					.documentation__link-wrapper
						.documentation__name Обязательные правила перевозки
						.documentation__download Скачать

	.work
		.container.work__container
			+title('Как мы работаем', 'work__title')
			.work__scheme
				.work__row
					.work__scheme-item
						.work__circle
							img(src='./img/work/browser.png' alt='browser')
							.work__num .01
						.work__step-title Расчет стоимости
						.work__step-text Вы расчитываете стоимость перевозки с помощью нашего калькулятора
					.work__scheme-item
						.work__circle
							img(src='./img/work/evaluation.png' alt='evaluation')
							.work__num .02
						.work__step-title Оформление заявки
						.work__step-text Вы оставляете заявку или звоните по телефону
					.work__scheme-item
						.work__circle
							img(src='./img/work/truck.png' alt='truck')
							.work__num .03
						.work__step-title Перевозка
						.work__step-text Мы осуществляем перевозку Вашего груза
				.work__row
					.work__scheme-item
						.work__circle
							img(src='./img/work/money.png' alt='money')
							.work__num .04
						.work__step-title Оплата
						.work__step-text Вы производите оплату наших услуг
					.work__scheme-item
						.work__circle
							img(src='./img/work/place.png' alt='place')
							.work__num .05
						.work__step-title Отслеживание
						.work__step-text После отплавки груза вы можете отслеживать его местонахождение
					.work__scheme-item
						.work__circle
							img(src='./img/work/package.png' alt='package')
							.work__num .06
						.work__step-title Получение
						.work__step-text Вы получаете свой груз в целости и сохранности
					.work__scheme-item
						.work__circle
							img(src='./img/work/document.png' alt='document')
							.work__num .07
						.work__step-title Возврат <br> документов

	.commercial
		.container.commercial__container
			.commercial__bg
				img(src='./img/pattern-gray.png' alt='pattern-gray')
			.commercial__outer
				+title('Коммерческая информация')
				.commercial__block
					.commercial__nav
						ul.commercial__tabs
							li.commercial__tab Отправить груз от адреса
							li.commercial__tab Отправить груз с терминала
							li.commercial__tab Ускорить отправку груза с терминала
							li.commercial__tab Получить груз на адресе
							li.commercial__tab Получить груз на терминале
							li.commercial__tab Уточнить информацию о заказе
							li.commercial__tab.commercial__tab--active Оплата банковской картой
							li.commercial__tab Оплата по безналичному счету
							li.commercial__tab Оплата наличными
							li.commercial__tab Запросить бухгалтерские документы
							li.commercial__tab Заключить договор
							li.commercial__tab Автоматизация работы с заказами
						.commercial__other-question Задать другой вопрос
					.commercial__content
						.commercial__content-item 1
						.commercial__content-item 2
						.commercial__content-item 3
						.commercial__content-item 4
						.commercial__content-item 5
						.commercial__content-item 6
						.commercial__content-item(style='display: block;')
							.commercial__content-title Оплата банковской картой
							ul
								li <span>1</span> Повседневная практика показывает, что повышение уровня гражданского сознания обеспечивает широкому кругу (специалистов)
									|  участие в формировании соответствующих условий активизации.
								li <span>2</span> В своём стремлении улучшить пользовательский опыт мы упускаем, что некоторые особенности внутренней политики представляют собой не что иное,
									|  как квинтэссенцию победы маркетинга над разумом и должны быть объединены в целые кластеры себе подобных.
								li <span>3</span> В рамках спецификации современных стандартов, явные признаки победы институционализации формируют глобальную экономическую сеть
									|  и при этом - ассоциативно распределены по отраслям!
								li <span>4</span> Равным образом, внедрение современных методик не даёт нам иного выбора, кроме определения благоприятных перспектив.
								li <span>5</span> Реплицированные с зарубежных источников, современные исследования представляют собой не что иное, как квинтэссенцию победы
									|  маркетинга над разумом и должны быть представлены в исключительно положительном свете.
							p Ясность нашей позиции очевидна: начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в
								|  формировании как самодостаточных, так и внешне зависимых концептуальных решений.
							p Есть над чем задуматься: реплицированные с зарубежных источников, современные исследования рассмотрены исключительно в разрезе
								|  маркетинговых и финансовых предпосылок.
						.commercial__content-item 8
						.commercial__content-item 9
						.commercial__content-item 10
						.commercial__content-item 11
						.commercial__content-item 12

	.about
		.container.about__container
			+title('О компании')
			.about__block
				.about__img-group
					.about__circle
					img.about__pattern(src='./img/pattern-gray.png' alt='pattern-gray')
					img.about__car(src='./img/pogr.png' alt='pogr')
				.about__content
					.about__title «Ритейл логистика»
					.about__description
						p Повседневная практика показывает, что убеждённость некоторых оппонентов предоставляет широкие возможности для вывода текущих активов.
							|  Каждый из нас понимает очевидную вещь: понимание сути ресурсосберегающих технологий говорит о возможностях вывода текущих активов.
						p Задача организации, в особенности же синтетическое тестирование играет важную роль в формировании дальнейших направлений развития.
							|  Каждый из нас понимает очевидную вещь: высокотехнологичная концепция общественного уклада способствует подготовке и реализации
							|  укрепления моральных ценностей.
					.about__details
						.about__details-col
							p ОГРН 1187746375442
							p ИНН 9721064092
							p КПП  772101001
						.about__details-col
							p Юридический адрес: 109428, г. Москва, Рязанский проспект, д.16, строение 3,помещение  23
							p Расчетный счет 40702810001700005584


	.delivery
		.container
			+title('Паллетная доставка в гипермаркеты и РЦ')
			.delivery__block
				.delivery__col
					.delivery__description
						p Компания «Ритейл Логистика» осуществляет доставку товаров во все крупные сетевые магазины России на привлекательных условиях для
							|  поставщиков FMCG и DIY товаров. Специальные тарифы на паллетную доставку, услуга «возврат документов», точное время и дата сдачи
							|  груза – мы делаем все, чтобы нашим клиентам было комфортно!
						p Мы предоставляем следующие услуги:
						ul
							li перевозка груза от нашего склада в г.Москве до склада в городе получателя;
							li складская обработка груза;
							li автоэкспедирование до получателя;
							li выезд за пределы города до 50 км на круг;
							li погрузо-разгрузочные работы и НДС 20%.
					.delivery__download-price Скачать паллетный прайс
				.delivery__col
					img(src='./img/delivery.jpg' alt='delivery')

	.form
		.container
			.form__title Остались вопросы?
			.form__subtitle Задайте их нашему менеджеру. Он ответит в течение 15 минут
			form(action='' method='POST')
				.form__inputs
					+input('text', '', 'your_name', '', 'Ваше имя')
					+input('text', '', 'phone', '', '+7 (___) ___ __-__')
					+input('text', '', 'email', '', 'Ваш email')
				+button('Отправить заявку', 'form__button')

	.contacts
		.container.contacts__container
			+title('Наши контакты', 'contacts__title')
			.contacts__block
				.contacts__col
					.contacts__map
						iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A2ef1d71cf01cdcebc06d54a8fbd108f36edb4ac3da3801ba678543eab48c451e&amp;source=constructor' width='620' height='454' frameborder='0')
					.contacts__info
						.contacts__info-item
							svg
								use(xlink:href='./svg/sprite.svg#marker')
							span Санкт-Петербург, Пискаревский пр. д. 150 корпус 2, лит. А
						.contacts__info-item
							svg
								use(xlink:href='./svg/sprite.svg#time')
							span ПН-ПТ: с 9:00 до 18:00
						.contacts__info-item
							svg
								use(xlink:href='./svg/sprite.svg#email')
							a(href='mailto:info@retail-logistica.com') info@retail-logistica.com
					.contacts__phone
						svg
							use(xlink:href='./svg/sprite.svg#phone')
						a(href='tel:+74951034613') +7 (495) 103-46-13
				.contacts__col
					.contacts__map
						iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A2ef1d71cf01cdcebc06d54a8fbd108f36edb4ac3da3801ba678543eab48c451e&amp;source=constructor' width='620' height='454' frameborder='0')
					.contacts__info
						.contacts__info-item
							svg
								use(xlink:href='./svg/sprite.svg#marker')
							span Ногинский район с. Кудиново АО Кудиново стр. 3
						.contacts__info-item
							svg
								use(xlink:href='./svg/sprite.svg#time')
							span ПН-ПТ: с 9:00 до 18:00
						.contacts__info-item
							svg
								use(xlink:href='./svg/sprite.svg#email')
							a(href='mailto:info@retail-logistica.com') info@retail-logistica.com
					.contacts__phone
						svg
							use(xlink:href='./svg/sprite.svg#phone')
						a(href='tel:+74951034613') +7 (495) 103-46-13

