a {
	text-decoration: none;
}

html,
body {
	max-width: 100%;
	height: 100%;
}
input, button {
    -webkit-appearance: none;
}

input,
button,
select,
textarea {
	font-family: $mainFont;
	line-height: 18px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-size: 15px;
	color: $text-color;
	background: #ffffff;
	font-family: $mainFont;
}

.main {
	flex-grow: 1;
}

.container {
	box-sizing: border-box;
	width: 1280px;
	max-width: calc(100% - 60px);
	margin: 0 auto;

	@media (max-width: 1024px) {
		max-width: calc(100% - 40px);
	}
}

ol,
ul,
nav {
	list-style: none;
}

img {
	display: block;
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}
