.first-screen {
	position: relative;
	background: linear-gradient(90deg, rgba(#1a1920, 0.7), rgba(#fff, 0.2)),
							url('../img/bg-1.jpg');
	background-size: cover;
	margin-top: 100px;

	&__container {
		padding: 150px 0 74px;
		color: $white;
		position: relative;
	}

	&__wrapper {
		max-width: 690px;
		margin-bottom: 170px;
	}

	&__title {
		font-size: 36px;
		line-height: 55px;
		text-transform: uppercase;

		span {
			font-size: 44px;
			font-weight: bold;
			line-height: 48px;
		}
	}

	&__list {
		margin: 31px 0 57px;
	}

	&__list-item {
		font-size: 24px;
		line-height: 32px;
		position: relative;
		padding-left: 36px;

		&:not(:last-child) {
			margin-bottom: 18px;
		}

		&::before {
			content: '';
			display: block;
			width: 20px;
			height: 5px;
			position: absolute;
			top: 15px;
			left: 0;
			background-color: $red;
		}
	}

	&__button {
		height: 62px;
		border-radius: 31px;
		font-size: 20px;

		svg {
			width: 30px;
			height: 38px;
			fill: $white;
		}
	}

	&__scroll-down {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		border-radius: 50%;
		position: absolute;
		bottom: 70px;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;

		svg {
			width: 24px;
			height: 26px;
			fill: $white;
		}
	}
}

.price {
	margin-top: 88px;

	&__accordion {
		margin-top: 23px;
	}

	&__accordion-item {
		+ .price__accordion-item {
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background-color: $gray-e6;
				margin: 18px 0;
			}
		}
	}

	&__accordion-title {
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		span {
			font-size: 28px;
			line-height: 45px;
			font-weight: 600;
			text-transform: uppercase;
			border-bottom: 1px dashed $text-color;
		}

		svg {
			width: 32px;
			height: 32px;
			fill: #4b4b54;
			margin-left: 13px;
			transition: transform 0.3s ease;
		}

		&--rotate {
			transform: rotate(180deg);
		}
	}

	&__accordion-content {
		display: none;
		margin-top: 12px;
	}

	&__note {
		font-size: 18px;
		line-height: 32px;

		span {
			color: $red;
		}
	}

	&__tabs {
		display: flex;
		margin-top: 21px;
	}

	&__tab {
		font-size: 24px;
		line-height: 32px;
		border-bottom: 1px dashed $text-color;
		padding-bottom: 3px;

		&:not(:last-child) {
			margin-right: 24px;
		}

		&--active {
			color: $red;
			border-bottom: none;
		}
	}

	&__tab-content {
		margin-top: 6px;
	}
	
	&__table {
		width: 100%;
		border-collapse: collapse;

		th,
		td {
			padding: 11px 0;
		}
		
		th {
			font-size: 20px;
			line-height: 42px;
			font-weight: 500;

			span {
				font-size: 16px;
			}
		}

		td {
			&:not(:first-child) {
				text-align: center;
			}
		}

		thead tr {
			border-bottom: 1px solid $gray-e6;
		}

		tr {
			&:not(:last-child) {
				border-bottom: 1px solid $gray-e6;
			}
		}
	}

	&__min-cost {
		font-size: 18px;
		line-height: 32px;
		margin-top: 16px;
	}

	&__description {
		margin-top: 46px;
	}

	&__description-text {
		width: 100%;
		max-height: 148px;
		line-height: 22px;
		overflow: hidden;
		position: relative;
		margin-top: 44px;
		transition: max-height 0.3s ease;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 25px;
			position: absolute;
			bottom: 0;
			left: 0;
			opacity: 1;
			background: linear-gradient(0deg, $white, transparent);
			transition: opacity 0.3s ease;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 22px;
			}
		}

		&--show {
			height: 100%;
			max-height: 1000px;

			&::after {
				content: '';
				opacity: 0;
			}
		}
	}

	&__more {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 32px;
		color: $red;
		cursor: pointer;
		margin-top: 14px;

		svg {
			width: 24px;
			height: 24px;
			fill: $red;
			transition: transform 0.3s ease;
		}
	}
}

.calculate {
	margin-top: 205px;
	padding: 30px 0 75px;
	background-color: #f4f6f9;

	&__container {
		position: relative;
	}

	&__title {
		position: absolute;
		left: 0;
		top: -156px;
	}

	&__form {
		display: flex;
		max-width: 835px;
		margin: 0 -15px;
	}

	&__column {
		width: calc(50% - 30px);
		margin: 0 15px;
	}

	&__input-row {
		&:nth-child(2) {
			margin-top: 9px;
		}

		&:nth-child(3),
		&:nth-child(4){
			margin-top: 14px;
		}

		&:nth-child(3) {
			.checkbox-label {
				padding-top: 33px;
			}
		}

		&:nth-child(5) {
			margin-top: 23px;
		}

		&:nth-child(6) {
			margin-top: 9px;
		}
	}

	&__input-group {
		margin: 0 -12.5px;

		label {
			display: inline-block;
			width: calc(50% - 27px);
			margin: 0 12.5px;
		}
	}
}